body{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2em;
}

.mititle{
	font-family: 'Courgette', cursive;
	font-size: 1.5em;
}

.mititle1{
	font-family: 'Courgette', cursive;
	font-size: 3.5em;
}

.midescription{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.5em;
}

.btn {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.0em;
}

.myinput {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.2em;
}

.topes{
	padding-top:0.1px;
	padding-bottom: 0.1px;

}